/**/

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
    background-image: url(../img/concrete-texture.png);
}

h1{
    font-family: 'Caveat Brush', cursive;
    /*font-family: 'Cormorant Garamond', serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Montserrat', sans-serif;*/
    font-size: 45px;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}

h2{
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}

h3{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4{
    text-align: center;
    margin-top: 30;
}

/*********************** HEADER INDEX *******************************/
header{
    background-color: #2c3e50;
    height: 175px;
}

#logo{
    float: left;
    width: 25%;
    padding: 15px;
    text-align: center;
}

#slogan{
    float: left;
    width: 50%;
    padding-top: 50px;
}

#social{
    float: left;
    width: 25%;
}

#social i{
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
    display: block;
}

header a{
    color: #2980b9;
    text-decoration: none;
}
/*********************** FIN HEADER ***************************/

/*********************** DEBUT NAV ***************************/
nav{
    background-color: #2980b9;
    height: 70px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
    padding: 15px;
}

nav a{
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0;
    border: 2px solid white;
    background-color: #6acafc;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'M PLUS 1 Code', sans-serif;
    transition: .5s;
}

nav a:hover{
    background-color: #a6d6c3;
    color:white;
}

.activ{
    background-color: #2c3e50;
    color: white;
}
/*********************** FIN NAV ***************************/

/*********************** DEBUT STRUCTURE ***************************/
main{
    background-color: rgba(178,178,178, .3);
    width: 1000px;
    margin: 0 auto;
}

aside{
    height: 250px;
    background-color: #a6d6c3;
}

section{
    margin-top: 50px;
    padding: 20px;
}

footer{
    background-color: #2980b9;
    height: 30px;
    text-align: right;
    padding: 5px 10px;
}
/*********************** FIN STRUCTURE ***************************/

/*********************** DEBUT PAGE TEXTE ***************************/
blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}

.montserrat p{
    font-family: 'Montserrat', sans-serif;
}
/*********************** FIN PAGE TEXTE ***************************/

/*********************** DEBUT PAGE SELECTEURS ***************************/
.select p{
    color: red;
}

.select p:first-of-type, .select p:last-of-type{
    color: turquoise;
}

.select p:nth-of-type(5),.select p:nth-of-type(6){
    color: black;
}

.select div:not(.zoneB){
    font-weight: bold;
}

.select .zoneA{
    color: #f56f56;
}

.select .zoneB{
    color: #963;
}

.select .zoneB .couleurBleu{
    color: blue;
    font-size: 16px;
}

.select #zoneC{
    color: #98f32f
}

.select #zoneD span{
    color: #32ff32;
    font-size: 30px;
    font-size: italic;
}

/*********************** FIN PAGE SELECTEURS ***************************/

/*********************** DEBUT PAGE IMAGES ***************************/
.imageFond{
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

.imageFond p{
    width: 75%;
    margin: 100px auto 200px;
    background-color: rgba(255,255,255, .6);
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}

figure{
    margin: auto;
    width: 250px;
    display: block;
    background-color: rgba(0,0,0, .6);
}

figcaption{
    color: white;
    text-align: center;
    padding: 2px;
    font-style: oblique;
}

/* On peut selectionner une image par son attribut src : img[src="img/toureiffel.jpg"]{} */

.rotationImg{
    text-align: center;
}

.image{
    margin:20px;
    border: 5px solid #eee;
    box-shadow: 4px 4px 4px rgba(0,0,0, .2);
    transition: 1s;
}

.image:hover{
    transform:rotate(-7deg);
    border: 15px solid #eee;
}

.rotation360:hover{
    transform: rotate(-360deg);
}
/*********************** FIN PAGE IMAGES ***************************/

/*********************** DEBUT PAGE POSITION ***************************/
/*********** ABSOLUTE ***********/
.centre{
    margin: 0 auto;
    width: 500px;
    height: 200px;
    background-color: #33cccc;
}

.absolute{
    position: absolute;
    top: 24%;
    left: 10%;
    background-color: yellow;
    width: 100px;
    height: 100px;
}
/*********** RELATIVE ***********/
.relative{
    background-color: green;
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 10px;
    left: 100px;
}

.relative div{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: indigo;
}
/*********** FIXED ***********/
button{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    font-size: 350%;
    color: #365436;
}

/*********** PERCENT ***********/
.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background-color: #213614;
    color: #f6e1b5;
    font-weight: bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background-color: #b21e4b;
    color: #f6e1b5;
    font-weight: bold;
    margin-top: 7px;
}

.cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background-color: #144ca0;
    color: #f6e1b5;
    font-weight: bold;
    margin-top: 7px;
}

/*********** FLOAT ***********/
.float{
    height: 170px;
    width: 170px;
    margin: 10px;
    padding-top: 2px;
    float: left;
    text-align: center;
    font-size: 25px;
    background-color: #f8d771;
    border: 2px solid darkmagenta;
}

.clear{
    clear: both;
}

/*********** FLEXBOX ***********/
.flex{
    display: flex;
    justify-content: space-between;
}

.flex div{
    width: 150px;
    height: 150px;
    background-color: darkblue;
    text-align: center;
    font-size: 50px;
    color: white;
    border: 10px outset rgb(51, 51, 255);
}

/*********************** FIN PAGE OPOSITION ************************/

/*********************** DEBUT PAGE TABLEAU ************************/
.tableau table{
    border-collapse: collapse;
    border: 2px solid #6495ed;
    font-weight: bold;
    margin: auto;
    width: 80%;
}

.tableau thead, .tableau tfoot{
    background-color: whitesmoke;
    border: 1px solid #e578a6;
}

.tableau tbody{
    border: 1px solid #6495ed;
}

.tableau th{
    border: 1px solid #6495ed;
    padding: 5px;
    width: 20%;
}

.tableau td{
    border: 1px solid #6495ed;
    font-size: 80%;
    padding: 5px;
    text-align: center;
}
/*********************** FIN PAGE TABLEAU ************************/

/*********************** DEBUT PAGE ZONING ************************/
/********* ZONING 1 **********/
#zoning1{
    background-color: #ffd6d6;
    width: 800px;
    text-align: center;
    text-shadow: 1px 1px 2px darkkhaki;
    margin: auto;
}

#zoning1 header{
    height: 70px;
    background-color: #f7f39a;
}

#zoning1 aside{
    height: 525px;
    float: left;
    width: 20%;
    background-color: #a3de83;
}

#zoning1 section{
    float: left;
    background-color: #38817a;
    height: 525px;
    width: 80%;
    margin: 0;
    padding: 0;
}

/********* ZONING 2 **********/
#zoning2{
    background-color: #ffd6d6;
    width: 500px;
    text-align: center;
    text-shadow: 1px 1px 2px darkkhaki;
    margin: auto;
}

#zoning2 header{
    height: 70px;
    background-color: #f8f5e4;
}

#zoning2 aside{
    height: 525px;
    float: left;
    width: 20%;
    background-color:#10828c ;
    color: white;
}

#zoning2 .middle{
    float: left;
    background-color: #0e3047;
    height: 525px;
    width: 60%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

/********* ZONING 3 **********/
#zoning3{
    background-color: #ffd6d6;
    width: 800px;
    text-align: center;
    text-shadow: 1px 1px 2px darkkhaki;
    margin: auto;
}

#zoning3 aside{
    height: 525px;
    float: left;
    width: 50%;
    background-color:#38817a;
    color: white;
}

#zoning3 section{
    height: 525px;
    float: left;
    width: 50%;
    background-color:#a3de83;
    color: white;
    margin: 0;
    padding: 0;
}

#zoning3 footer{
    height: 70px;
    background-color: #f7f39a;
}

/********* ZONING 4 **********/
#zoning4{
    background-color: #ffd6d6;
    width: 700px;
    text-align: center;
    text-shadow: 1px 1px 2px darkkhaki;
    margin: auto;
    border: 2px solid black;
}

#zoning4 header{
    height: 90px;
    background-color: #c0bfb5;
}

#zoning4 nav{
    height: 40px;
    background-color: #5490b3;
    margin: 0;
    padding: 0;
}

#zoning4 section{
    height: 550px;
    border: 20px solid white;
    background-color: #0f4b9b;
    margin: 0;
    padding: 0;
}

#zoning4 footer{
    height: 70px;
    background-color: #0b0b30;
}

/********* ZONING 5 **********/
#zoning5{
    background-color: orange;
    width: 1000px;
    text-align: center;
    text-shadow: 1px 1px 2px darkkhaki;
    margin: 0 auto;
    border: 2px solid black;
    font-weight: bold; 
}

#zoning5 header{
    height: 90px;
    background-color: #F8D771;
    color: white;
}

#zoning5 nav{
    height: 40px;
    background-color: #D6BC6B;
    color: white;
    margin: 0;
    padding: 0;
}

#zoning5 section{
    background-color: #a1920a;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 20px solid #C19718;
}

#zoning5 .zone1, #zoning5 .zone2,#zoning5 .zone3,#zoning5 .zone4{
    float: left;
    width: 50%;
    height: 230px;
}

#zoning5 .zone1,#zoning5 .zone4{
    background-color: #D6BC6B;}


#zoning5 .zone2,#zoning5 .zone3{
    background-color: #FCE38A;
}

#zoning5 footer{
    height: 75px;
    background-color: #F8D771;
}

/********* ZONING 6 **********/
#zoning6{
    background-color: #ffd6d6;
    color:white;
    width: 900px;
    text-align: center;
    text-shadow: 1px 1px 2px darkkhaki;
    margin: auto;
}

#zoning6 .haut1,#zoning6 .haut3{
    float: left;
    width: 25%;
    height: 200px;
    background-color: rgb(6, 6, 78);
}

#zoning6 .haut2{
    float: left;
    width: 50%;
    height: 200px;
    background-color: rgb(43, 43, 165);
}

#zoning6 nav,#zoning6 footer{
    height: 70px;
    background-color: rgb(7, 63, 37);
}

#zoning6 nav{
    margin: 0;
    padding: 0;
}

#zoning6 section{
    margin: 0;
    padding: 0;
    height: 800px;
}

#zoning6 .zoneGauche{
    width: 20%;
    height: 100%;
    background-color: rgb(57, 102, 88);
}

#zoning6 .zoneDroite{
    width: 80%;
    height: 100%;
    margin-left: 180px;
    margin-top: -800px;
}

#zoning6 .carreG{
    /*float: left;*/
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 50%;
    height: 40%; 
}

#zoning6 .rect{
    /*float: left;*/
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: rgb(23, 65, 105);
}

#zoning6 .carreP{
    /*float: left;*/
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 25%;
    height: 20%;
}

#zoning6 .carreG,#zoning6 .carreP:nth-of-type(2n){
    background-color: rgb(165, 155, 155);
}

#zoning6 .carreG:nth-of-type(2n),#zoning6 .carreP{
    background-color: rgb(6, 6, 78);
}
